.d-flex-center-between {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.d-flex-justify-center {
  display: flex !important;
  justify-content: center !important;
}