.navbar {
  background-color: $color-bg;
  box-shadow: $box-shadow-header;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-item {
    img {
      &.avatar {
        max-height: none;
      }
    }
  }
}
